body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}


/* Header Styles */

header {
    display: flex;
    align-items: center;
    max-width: 1920px;
    height: 100px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.realmi {
    width: 92px;
    height: 28px;
    margin-left: 60px;
}

.nav-menu {
    display: flex;
    margin-left: 20px;
}

.heigh {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    text-align: left;
    font-size: 17px;
    font-weight: 500;
}

.free {
    width: 23px;
    height: 23px;
    display: flex;
    column-gap: 30px;
    margin-left: auto;
    margin-right: 150px;
}

.free img {
    width: 23px;
    height: 23px;
    cursor: pointer;
}


/* Hero Section */

.hero {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
}

.baner {
    position: relative;
    width: 100%;
}

.baner img {
    width: 100%;
    height: auto;
    display: block;
}

.text-baner {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    color: black;
    max-width: 500px;
}

.text-baner h1 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 10px;
}

.text-baner h2 {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: normal;
}

.text-baner p {
    font-size: 16px;
    margin-bottom: 10px;
}

.text-baner .price {
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.text-baner .btn {
    margin-right: 15px;
    padding: 10px 25px;
}

.categories {
    max-width: 1920px;
    margin: 80px auto 0;
}

.fooofoto {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 60px;
    justify-items: center;
}

.fooofoto .cop {
    text-align: center;
    min-width: 200px;
}

.fooofoto .cop img {
    width: 180px;
    height: 180px;
    margin-bottom: 15px;
}

.fooofoto .cop p {
    font-size: 16px;
    font-weight: 500;
}

.product-series {
    max-width: 1920px;
    margin: 80px auto 0;
    text-align: center;
    padding: 0 20px;
}

.centter h2 {
    font-size: 55px;
    color: black;
    margin-bottom: 10px;
}

.centter p {
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
}

.centter button {
    padding: 10px 30px;
}

.products {
    max-width: 1920px;
    margin: 80px auto 0;
    padding: 0 20px;
}

.trecontainer {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.trecontainer article {
    text-align: center;
    flex: 1;
    min-width: 300px;
    max-width: 400px;
}

.p-1 img {
    width: 100%;
    height: auto;
}

.p-2 img,
.p-3 img {
    margin-bottom: 20px;
}

.p-2 h3,
.p-3 h3 {
    font-size: 30px;
    margin-bottom: 10px;
}

.p-2 p,
.p-3 p {
    font-size: 16px;
    margin-bottom: 10px;
}

.p-2 .price,
.p-3 .price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.senter {
    max-width: 1920px;
    margin: 80px auto 0;
    text-align: center;
    padding: 0 20px;
}

.centter-1 h1 {
    font-size: 55px;
    color: black;
    margin-bottom: 10px;
}

.centter-1 p {
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
}

.centter-1 button {
    padding: 10px 30px;
}

.ter-1 {
    display: flex;
    max-width: 1920px;
    margin: 80px auto 0;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
    flex-wrap: wrap;
}

.r-1,
.r-2,
.r-3 {
    text-align: center;
    flex: 1;
    min-width: 300px;
    max-width: 400px;
}

.r-1 img {
    width: 100%;
    height: auto;
}

.r-2 h1,
.r-3 h1 {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.r-2 p,
.r-3 p {
    font-size: 16px;
    margin: 10px 0;
}

.r-2 h3,
.r-3 h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0;
}

.r-2 .btn,
.r-3 .btn {
    margin-top: 10px;
    padding: 10px 25px;
}

.k1 {
    max-width: 1920px;
    margin: 80px auto 0;
    padding: 0 20px;
}

.k1 .row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.k1 .col-3 {
    flex: 1;
    min-width: 250px;
}

.gray_card {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    height: 100%;
}

.gray_card h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.gray_card p {
    font-size: 16px;
    line-height: 1.5;
}


/* Footer */

.k2 {
    max-width: 1920px;
    margin: 80px auto 0;
    padding: 0 20px 40px;
}

.k2 .row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.k2 .col-3 {
    flex: 1;
    min-width: 250px;
}

.k2 .col-3 h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.k2 .col-3 p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.k2 .col-3 img:not(.realmi-ander) {
    margin-right: 15px;
    margin-top: 15px;
    width: 24px;
    height: 24px;
}

.realmi-ander {
    width: 92px;
    height: 28px;
    margin-bottom: 15px;
}

section {
    max-width: 1440px;
    text-decoration: none;
}

.shapka0 {
    align-items: center;
}

.shapka {
    display: flex;
    align-items: center;
    height: 100px;
}

.realmi {
    width: 92px;
    height: 28px;
    margin-left: 60px;
}

.heigh {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    text-align: left;
    font-size: 17px;
}

.free {
    width: 23px;
    height: 23px;
    display: flex;
    column-gap: 30px;
    margin-left: auto;
    margin-right: 100px;
}

.gfhd {
    max-width: 1440px;
    margin-top: 60px;
}

.andegrand {
    margin-top: 40px;
}

.full {
    margin-left: 10px;
    margin-right: 10px;
}

.count {
    display: flex;
}

.count .change {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-weight: 600;
    color: #fff;
    background-color: #35e201;
    border-radius: 3px;
    cursor: pointer;
}

.count input {
    max-width: 20px;
    text-align: center;
    font-weight: 700;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    margin: 0 5px;
}

.count .minus.min {
    background-color: #989797;
}

.text1 {
    font-size: 56px;
    text-align: left;
    align-items: start;
}

.text11 {
    text-align: left;
    font-size: 36px;
    font-weight: 800;
}

.text2 {
    text-align: left;
    font-size: 30px;
}

.text22 {
    text-align: left;
    font-size: 30px;
}

.text3 {
    text-align: left;
    font-size: 30px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top h1 {
    font-size: 16px;
    font-weight: 800;
}

.top h6 {
    font-size: 16px;
    margin-left: 30px;
    font-weight: 400;
}

.fulltext {
    display: flex;
    display: grid;
    justify-content: space-between;
}

.realmi-ander {
    width: 91px;
    height: 28px;
}

.g1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3px
}

.tren {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gfhd {
    max-width: 1440px;
    margin-top: 60px;
}


/* Features Section */

.k1 {
    max-width: 1920px;
    margin: 80px auto 0;
    padding: 0 20px;
}

.k1 .row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.k1 .col-3 {
    flex: 1;
    min-width: 250px;
}

.gray_card {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    height: 100%;
}

.gray_card h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.gray_card p {
    font-size: 16px;
    line-height: 1.5;
}


/* Footer */

.k2 {
    max-width: 1920px;
    margin: 80px auto 0;
    padding: 0 20px 40px;
}

.k2 .row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.k2 .col-3 {
    flex: 1;
    min-width: 250px;
}

.k2 .col-3 h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.k2 .col-3 p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.k2 .col-3 img:not(.realmi-ander) {
    margin-right: 15px;
    margin-top: 15px;
    width: 24px;
    height: 24px;
}

.realmi-ander {
    width: 92px;
    height: 28px;
    margin-bottom: 15px;
}

.glaw {
    display: flex;
    column-gap: 133px;
    justify-content: center;
}

.counter {
    padding: 15px;
    border: 1px solid #E6E6E6;
    max-width: 135px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.counter button {
    border: none;
    background: none;
}

section {
    max-width: 1440px;
    text-decoration: none;
}

.shapka0 {
    align-items: center;
}

.shapka {
    display: flex;
    align-items: center;
    height: 100px;
}

.realmi {
    width: 92px;
    height: 28px;
    margin-left: 60px;
}

.heigh {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    text-align: left;
    font-size: 17px;
}

.free {
    width: 23px;
    height: 23px;
    display: flex;
    column-gap: 30px;
    margin-left: auto;
    margin-right: 100px;
}

.txcent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 55px;
}

.full {
    display: flex;
    align-items: center;
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
}

.counter {
    padding: 6px;
    border: 1px solid #b3b3b3;
    max-width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    background-color: rgb(255, 255, 255);
}

.counter button {
    border: none;
    background: none;
}

.two {
    display: flex;
    background-color: white;
    max-width: 1320px;
    padding: 30px;
    width: 100%;
}

.txtwo {
    display: flex;
    display: grid;
    margin-left: 19px;
}

.two img {
    width: 63px;
    height: 63px;
}

.txtwo h1 {
    font-size: 17px;
    margin-top: 5px;
}

.txtwo p {
    font-size: 17px;
}

.txfreee {
    display: flex;
}

.fon {
    background-color: rgb(226, 226, 226);
}

.stroka1 h1 {
    font-size: 16px;
    padding: 27 198 27 161px;
    color: #b3b3b3;
}

.vse {
    background-color: rgb(255, 255, 255);
    max-width: 1320px;
    width: 100%;
    margin-left: 60px;
    margin-top: 40px;
    margin-right: 60px;
}

.fon2 {
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
}

.stroka2 {
    margin-top: 40px;
}

.stroka1 {
    padding: 30px;
}

.stroka2 h1 {
    font-size: 21px;
    font-weight: 600;
}

.stroka3 h1 {
    font-size: 21px;
    font-weight: 600;
}

.stroka3 {
    margin-top: 40px;
}

.stroka2 img {
    margin-top: 120px;
    margin-left: 30px;
}

.stroka3 img {
    margin-top: 70px;
    margin-left: 30px;
}

.stroka2rp {
    margin-top: 70px;
}

.stroka2rp h1 {
    font-size: 21px;
}

.stroka2rp {
    margin-top: 70px;
}

.stroka3rp {
    margin-top: 90px;
}

.stroka3rp h1 {
    font-size: 21px;
}

.stroka2bt {
    margin-top: 70px;
}

.stroka3bt {
    margin-top: 70px;
}

.stroka2te h1 {
    font-size: 21px;
    font-weight: 600;
}

.stroka3te h1 {
    font-size: 21px;
    font-weight: 600;
}

.stroka2te {
    margin-top: 70px;
}

.stroka3te {
    margin-top: 90px;
}

.k2 {
    margin-left: 20px;
}

.k2 h1 {
    font-size: 21px;
}

.k2 p {
    font-size: 19px;
    margin-top: 10px;
}

.realmi-ander {
    width: 91px;
    height: 28px;
}

.g1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3px
}

.tren {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gfhd {
    max-width: 1440px;
    margin-top: 60px;
}

.andegrand {
    margin-top: 40px;
}

.gray_card {
    max-width: 314px;
    background-color: lightgray;
    border-radius: 30px;
    margin: auto;
    height: 100px;
    text-align: center;
    margin-top: 50px;
}

.gray_card h1 {
    font-size: 21px;
    margin-top: 10px;
}

.gray_card p {
    font-size: 16px;
}

.yavshoke {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 13px;
    justify-content: right;
    max-width: 1320px;
    width: 100%;
    margin-left: 60px;
    margin-top: 40px;
    column-gap: 20px;
}

.yavshoke h1 {
    font-size: 21px;
    font-weight: 600;
}

.yavshoke h4 {
    font-size: 21px;
}

.yavshoke button {
    border-radius: 0%;
    margin-right: 140px;
}

@font-face {
    font-family: 'SFNS Display Bold';
    src: url('/fonts/fonts/sfns_display_bold.eot');
    /* IE 9 Compatibility Mode */
    src: url('/fonts/fonts/sfns_display_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('/fonts/fonts/sfns_display_bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('/fonts/fonts/sfns_display_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('/fonts/fonts/sfns_display_bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('/fonts/fonts/sfns_display_bold.svg#sfns_display_bold') format('svg');
    /* Chrome < 4, Legacy iOS */
}