section {
    max-width: 1440px;
    text-decoration: none;
}

.shapka0 {
    align-items: center;
}

.shapka {
    display: flex;
    align-items: center;
    height: 100px;
}

.realmi {
    width: 92px;
    height: 28px;
    margin-left: 60px;
}

.heigh {
    text-decoration: none;
    color: black;
    margin-left: 40px;
    text-align: left;
    font-size: 17px;
}

.free {
    width: 23px;
    height: 23px;
    display: flex;
    column-gap: 30px;
    margin-left: auto;
    margin-right: 100px;
}

.gfhd {
    max-width: 1440px;
    margin-top: 60px;
}

.andegrand {
    margin-top: 40px;
}

.full {
    margin-left: 10px;
    margin-right: 10px;
}

.count {
    display: flex;
}

.count .change {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-weight: 600;
    color: #fff;
    background-color: #35e201;
    border-radius: 3px;
    cursor: pointer;
}

.count input {
    max-width: 20px;
    text-align: center;
    font-weight: 700;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    margin: 0 5px;
}

.count .minus.min {
    background-color: #989797;
}

.text1 {
    font-size: 56px;
    text-align: left;
    align-items: start;
}

.text11 {
    text-align: left;
    font-size: 36px;
    font-weight: 800;
}

.text2 {
    text-align: left;
    font-size: 30px;
}

.text22 {
    text-align: left;
    font-size: 30px;
}

.text3 {
    text-align: left;
    font-size: 30px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top h1 {
    font-size: 16px;
    font-weight: 800;
}

.top h6 {
    font-size: 16px;
    margin-left: 30px;
    font-weight: 400;
}

.fulltext {
    display: flex;
    display: grid;
    justify-content: space-between;
}

.realmi-ander {
    width: 91px;
    height: 28px;
}

.g1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3px
}

.tren {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gfhd {
    max-width: 1440px;
    margin-top: 60px;
}


/* Features Section */

.k1 {
    max-width: 1920px;
    margin: 80px auto 0;
    padding: 0 20px;
}

.k1 .row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.k1 .col-3 {
    flex: 1;
    min-width: 250px;
}

.gray_card {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    height: 100%;
}

.gray_card h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.gray_card p {
    font-size: 16px;
    line-height: 1.5;
}


/* Footer */

.k2 {
    max-width: 1920px;
    margin: 80px auto 0;
    padding: 0 20px 40px;
}

.k2 .row {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.k2 .col-3 {
    flex: 1;
    min-width: 250px;
}

.k2 .col-3 h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.k2 .col-3 p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.k2 .col-3 img:not(.realmi-ander) {
    margin-right: 15px;
    margin-top: 15px;
    width: 24px;
    height: 24px;
}

.realmi-ander {
    width: 92px;
    height: 28px;
    margin-bottom: 15px;
}

.glaw {
    display: flex;
    column-gap: 133px;
    justify-content: center;
}

.counter {
    padding: 15px;
    border: 1px solid #E6E6E6;
    max-width: 135px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}

.counter button {
    border: none;
    background: none;
}